# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
